<div class="content-container">
  <div class="content-block" [ngClass]="{ 'no-active': !account }">
    <div class="content-block_title">
      <span
        >HEX > Axion

        <div
          class="question"
          mat-raised-button
          matTooltip="The free claim of Axion for HEX holders on the 28th of May 2020"
          matTooltipClass="question__tooltip"
        ></div>
      </span>
      <span class="content-block_title_help"></span>
    </div>
    <div class="blocks-list">
      <div class="blocks-list_element width-28">
        <div class="blocks-list_item">
          <div class="blocks-list_item_title uppercase">From</div>
          <div class="blocks-list_item_value" fittext [maxFontSize]="38">
            {{
              (account ? account?.balances.HEX.wei || 0 : 0)
                | bigNumberFormat: tokensDecimals.HEX:true:false:4
            }}
          </div>
          <div class="blocks-list_item_currency blocks-list_item_currency__hex">
            <span>HEX</span>
          </div>
        </div>
      </div>
      <div class="blocks-list_group blocks-list_element width-50_5">
        <div class="list">
          <div class="blocks-list_item">
            <div class="blocks-list_item_title uppercase">To</div>
            <div
              class="blocks-list_item_value blocks-list_item_value__positive"
              fittext
              [maxFontSize]="40"
            >
              {{
                (account ? account.claimableInfo.claim || 0 : 0)
                  | bigNumberFormat: tokensDecimals["HEX2X"]:true:false:4
              }}
            </div>
            <div
              class="blocks-list_item_currency blocks-list_item_currency__axn"
            >
              <span>AXN</span>
            </div>
          </div>
          <div class="blocks-list_item width-62">
            <div class="blocks-list_item_title uppercase">Penalty</div>
            <div
              class="blocks-list_item_value blocks-list_item_value__negative"
              fittext
              [maxFontSize]="25"
            >
              {{
                (account ? account.claimableInfo.penalty || 0 : 0)
                  | bigNumberFormat: tokensDecimals["HEX2X"]:true:false:4
              }}
            </div>
            <div
              class="blocks-list_item_currency blocks-list_item_currency__axn"
            >
              <span>AXN</span>
            </div>
          </div>
        </div>

        <div
          class="blocks-list_group_btn"
          *ngIf="
            account &&
            (!account.claimableInfo.claim.isZero() ||
              !account.claimableInfo.penalty.isZero())
          "
        >
          <button
            class="btn btn__normal btn__w-265"
            (click)="claim()"
            [ngClass]="{ progress: claimTokensProgress }"
            [disabled]="claimTokensProgress"
          >
            <span class="lds-ellipsis" *ngIf="claimTokensProgress">
              <span class="lds-ellipsis-container">
                <span></span><span></span><span></span><span></span>
              </span>
            </span>
            <span>Claim</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="content-block" [ngClass]="{ 'no-active': !account }">
    <div class="content-block_title">
      <span>H2T > Axion</span>
      <div
        class="question"
        mat-raised-button
        matTooltip="Burn your HEX2T tokens and get Axion"
        matTooltipClass="question__tooltip"
      ></div>
    </div>

    <form #sendForm="ngForm" class="blocks-list">
      <div class="blocks-list_group blocks-list_element width-32_8">
        <div class="list">
          <div class="blocks-list_item" *ngIf="account?.balances">
            <div class="blocks-list_item_title nowrap uppercase">From</div>
            <div class="blocks-list_item_value" fittext [maxFontSize]="38">
              <input
                type="text"
                *ngIf="account"
                required="required"
                placeholder="0"
                class="blocks-list_item_input"
                [appBigNumber]="{
                  decimals: tokensDecimals['H2T'],
                  min: 1,
                  max: account?.balances.H2T.wei
                }"
                [maxValueChange]="onChangeAccount"
                (ngModelChange)="onChangeAmount()"
                [(ngModel)]="formsData.swapAmount"
                name="swap-amount"
                autocomplete="off"
              />
            </div>
            <div
              class="blocks-list_item_currency blocks-list_item_currency__h2t"
            >
              <span>H2T</span>
            </div>

            <div
              [ngClass]="{ disabled: swapTokensProgress }"
              style="
                display: flex;
                margin-top: 20px;
                justify-content: space-evenly;
              "
            >
              <div class="form-group_input-btn form-group_input-btn-normal">
                <button
                  (click)="
                    formsData.swapAmount = account?.balances.H2T.shortBigNumber.toString()
                  "
                >
                  Send max
                </button>
                <div
                  class="form-group_input-btn-text"
                  fittext
                  [maxFontSize]="14"
                >
                  balance
                  {{
                    (account ? account?.balances.H2T.wei || 0 : 0)
                      | bigNumberFormat: tokensDecimals.H2T:true:false:4
                  }}
                </div>
              </div>
              <button
                class="btn btn__normal btn__normal-img"
                [ngClass]="{ progress: swapTokensProgress }"
                [disabled]="sendForm.invalid || swapTokensProgress"
                (click)="swapH2T()"
                style="max-width: 130px; width: 100%"
              >
                <span class="lds-ellipsis" *ngIf="swapTokensProgress">
                  <span class="lds-ellipsis-container">
                    <span></span><span></span><span></span><span></span>
                  </span>
                </span>
                <span>SEND</span>
                <img src="assets/images/styling/arrow-right.svg" alt="" />
              </button>
            </div>
          </div>
        </div>
      </div>

      <div
        class="blocks-list_element width-24_8"
        [ngClass]="{ 'in-update': updateSwapBalanceProgress }"
      >
        <div class="blocks-list_item">
          <div class="blocks-list_item_title uppercase">SWAP Contract</div>
          <div class="blocks-list_item_value" fittext [maxFontSize]="38">
            {{ swapContractBalance || 0 | bigNumberFormat: 0:true:false:false }}
          </div>
          <div class="blocks-list_item_currency blocks-list_item_currency__h2t">
            <span>H2T</span>
          </div>
        </div>

        <div class="blocks-list_group_btn" style="margin-bottom: 12px">
          <button
            class="btn btn__transparent btn__back-img"
            (click)="withdrawH2T()"
            [ngClass]="{ progress: withdrawH2TProgress }"
            [disabled]="+swapContractBalance === 0 || withdrawH2TProgress"
          >
            <span class="lds-ellipsis" *ngIf="withdrawH2TProgress">
              <span class="lds-ellipsis-container">
                <span></span><span></span><span></span><span></span>
              </span>
            </span>
            <img src="assets/images/styling/arrow-left.svg" alt="" />
            <span>Draw back</span>
          </button>
        </div>
      </div>

      <div class="blocks-list_group blocks-list_element width-37_4">
        <div class="list">
          <div class="blocks-list_item width-50">
            <div class="blocks-list_item_title uppercase">TO</div>
            <div
              class="blocks-list_item_value blocks-list_item_value__positive"
              fittext
              [maxFontSize]="36"
            >
              {{
                (swapNativeTokenInfo ? swapNativeTokenInfo : 0)
                  | bigNumberFormat: tokensDecimals.HEX2X:true:false:4
              }}
            </div>
            <div
              class="blocks-list_item_currency blocks-list_item_currency__axn"
            >
              <span>AXN</span>
            </div>
          </div>
          <div class="blocks-list_item width-45">
            <div class="blocks-list_item_title uppercase">Penalty</div>
            <div
              class="blocks-list_item_value blocks-list_item_value__negative"
              fittext
              [maxFontSize]="25"
            >
              {{ clacPenalty }}
            </div>
            <div
              class="blocks-list_item_currency blocks-list_item_currency__axn"
            >
              <span>AXN</span>
            </div>
          </div>
        </div>
        <div class="blocks-list_group_btn">
          <button
            class="btn btn__normal btn__w-265"
            (click)="burnH2T()"
            [ngClass]="{ progress: burnTokensProgress }"
            [disabled]="burnTokensProgress"
          >
            <span class="lds-ellipsis" *ngIf="burnTokensProgress">
              <span class="lds-ellipsis-container">
                <span></span><span></span><span></span><span></span>
              </span>
            </span>
            <span>Swap</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
