<section class="axn-section axn-page-claim">
  <div class="axn-title-block">
    <span class="axn-title">HEX > Axion</span>
    <div
      class="question"
      mat-raised-button
      matTooltip="The free claim of Axion for HEX holders on the 28th of May 2020"
      matTooltipClass="question__tooltip"
    ></div>
  </div>

  <div class="axn-container axn-container-dark">
    <div class="axn-page-claim-date">
      <span class="axn-text"
        >Free claim available only for user who owned or staked HEX</span
      >
      <span class="axn-text-highligh t-cl-green">on 28th of May 2020</span>
    </div>
  </div>

  <div class="axn-container axn-container-dark">
    <div class="axn-page-claim-date">
      <span class="axn-text">You already claimed Axion for </span>
      <span class="axn-text-highligh t-cl-green">123.456.789 HEX</span>
    </div>
  </div>

  <div class="axn-container axn-container-dark axn-form-down">
    <div class="axn-page-claim-form">
      <div class="axn-page-claim-form-wrap b-a-c">
        <div class="axn-page-claim-form-wrap-item">
          <span class="axn-text t-cl-purple t-t-u">From</span>
        </div>
        <div class="axn-page-claim-form-wrap-item t-a-c">
          <span class="axn-text-input">{{
            (account ? account?.balances.HEX.wei || 0 : 0)
              | bigNumberFormat: tokensDecimals.HEX:true:false:4
          }}</span>
        </div>
        <div class="axn-page-claim-form-wrap-item">
          <span class="axn-cheap icon icon__axion t-cl-light-red">HEX</span>
        </div>
      </div>
    </div>
  </div>

  <div class="axn-container axn-container-dark m-t-m-25">
    <div class="axn-page-claim-form">
      <div
        class="axn-page-claim-form-wrap axn-page-claim-form-swap axn-border-dashed"
      >
        <div class="axn-page-claim-form-wrap-item">
          <span class="axn-text t-cl-purple t-t-u">TO</span>
        </div>
        <div class="axn-page-claim-form-wrap-item t-a-c">
          <span class="axn-text-input t-cl-green">{{
            (account ? account.claimableInfo.claim || 0 : 0)
              | bigNumberFormat: tokensDecimals["HEX2X"]:true:false:4
          }}</span>
        </div>
        <div class="axn-page-claim-form-wrap-item">
          <span class="axn-cheap icon icon__axion t-cl-light-red">AXN</span>
        </div>
      </div>

      <div class="axn-page-claim-form-wrap axn-page-claim-form-swap axn-border">
        <div class="axn-page-claim-form-wrap-item">
          <span class="axn-text t-cl-purple t-t-u">Penalty</span>
        </div>
        <div class="axn-page-claim-form-wrap-item t-a-c">
          <span class="axn-text-input t-cl-light-red">{{
            (account ? account.claimableInfo.penalty || 0 : 0)
              | bigNumberFormat: tokensDecimals["HEX2X"]:true:false:4
          }}</span>
        </div>
        <div class="axn-page-claim-form-wrap-item">
          <span class="axn-cheap icon icon__axion t-cl-light-red">AXN</span>
        </div>
      </div>

      <div class="axn-page-claim-form-wrap">
        <div class="axn-page-claim-form-wrap-item"></div>
        <div class="axn-page-claim-form-wrap-item">
          <button
            class="axn-btn axn-btn-green m-t-15"
            (click)="claim()"
            [ngClass]="{ progress: claimTokensProgress }"
            [disabled]="
              account.claimableInfo.claim.isZero() || claimTokensProgress
            "
          >
            <span class="lds-ellipsis" *ngIf="claimTokensProgress">
              <span class="lds-ellipsis-container">
                <span></span><span></span><span></span><span></span>
              </span>
            </span>
            <span>SWAP</span>
          </button>
        </div>
        <div class="axn-page-claim-form-wrap-item"></div>
      </div>
    </div>
  </div>

  <div class="axn-container axn-container-light">
    <div class="axn-page-claim-snapshot">
      <span class="axn-text t-cl-purple t-a-c t-t-u">HEX Snapshot</span>
      <p class="axn-text t-fz-14">
        The claim is only available to users who own or stake HEX tokens on May
        28, 2020. A snapshot with a list of user addresses and the amount of the
        claim can be checked at
        <a
          class="axn-link"
          href="https://rinkeby.etherscan.io/token/0xa8ebbb3a410070c2736b09c30f338cf99a8594ae"
          target="_blank"
          >https://rinkeby.etherscan.io/token/0xa8ebbb3a410070c2736b09c30f338cf99a8594ae</a
        >
      </p>

      <div class="axn-page-claim-snapshot-info">
        <div class="axn-page-claim-snapshot-info-item">
          <span class="axn-text">Claimed adresses</span>
          <span class="axn-text t-cl-green">370,121,420,541.683530</span>
        </div>
        <div class="axn-page-claim-snapshot-info-item">
          <span class="axn-text">Total addresses</span>
          <span class="axn-text t-cl-green">183,035</span>
        </div>
        <div class="axn-page-claim-snapshot-info-item">
          <span class="axn-text">Claimed HEX</span>
          <span class="axn-text t-cl-green">370,121,420,541.6835335839</span>
        </div>
        <div class="axn-page-claim-snapshot-info-item">
          <span class="axn-text">Total HEX</span>
          <span class="axn-text t-cl-green">370,121,420,541.683530</span>
        </div>
      </div>
    </div>
  </div>

  <div
    class="axn-container axn-container-border"
    container-title="How it works"
  >
    <div class="axn-page-claim-how">
      <div class="axn-page-claim-how-item">
        <span class="axn-text">
          Get Axion for HEX tokens for free at a rate of 1: 1. All free claimed
          Axion tokens will be automatically staked for 350 days.
        </span>
      </div>
      <div class="axn-page-claim-how-item">
        <span class="axn-text">
          The amount of the free claim is limited to 10M Axion, tokens over the
          limit will be sent to the Weekly Auction.
        </span>
      </div>
      <div class="axn-page-claim-how-item">
        <span class="axn-text">
          The exchange will be available for 350 days, however, there is a Late
          Claim Penalty for late exchange. The amount of the penalty is
          calculated by the formula:
          <span class="t-cl-light-red"> Penalty</span> =
          <span class="t-cl-green">(HEX + Shares amount)</span> * (day since
          free claim starts / 350)
        </span>
      </div>
      <div class="axn-page-claim-how-item">
        <span class="axn-text">
          Tokens from the penalty will be distributed in the following way:
          349/350 will be sent to the next day auction; 1/350 for distribution
          at the end of the year at BigPayDay.
        </span>
      </div>
    </div>
  </div>
</section>

<section class="axn-section axn-page-claim axn-page-form">
  <div class="axn-title-block">
    <span class="axn-title">HEX > Axion</span>
    <div
      class="question"
      mat-raised-button
      matTooltip="The free claim of Axion for HEX holders on the 28th of May 2020"
      matTooltipClass="question__tooltip"
    ></div>
  </div>

  <div class="axn-container axn-container-dark axn-form-down">
    <div class="axn-page-claim-form">
      <span class="axn-text t-t-u t-cl-gray t-fz-14 t-a-r"
        >Balance
        {{
          (account ? account?.balances.H2T.wei || 0 : 0)
            | bigNumberFormat: tokensDecimals.H2T:true:false:4
        }}</span
      >
      <div class="axn-page-claim-form-wrap">
        <div class="axn-page-claim-form-wrap-item">
          <span class="axn-text t-cl-purple t-t-u">From</span>
        </div>
        <div class="axn-page-claim-form-wrap-item">
          <input
            type="text"
            *ngIf="account"
            required="required"
            class="axn-input"
            placeholder="0.0"
            [appBigNumber]="{
              decimals: tokensDecimals['H2T'],
              min: 1,
              max: account?.balances.H2T.wei
            }"
            [maxValueChange]="onChangeAccount"
            (ngModelChange)="onChangeAmount()"
            [(ngModel)]="formsData.swapAmount"
            name="swap-amount"
            autocomplete="off"
          />
          <!-- <button
            class="axn-btn axn-btn-green"
            [ngClass]="{ progress: swapTokensProgress }"
            [disabled]="!dataSendForm || swapTokensProgress"
            (click)="swapH2T()"
          >
            <span class="lds-ellipsis" *ngIf="swapTokensProgress">
              <span class="lds-ellipsis-container">
                <span></span><span></span><span></span><span></span>
              </span>
            </span>
            <span class="axn-btn-text axn-btn-arrow-down">SEND</span>
          </button> -->
        </div>
        <div class="axn-page-claim-form-wrap-item">
          <span class="axn-cheap icon icon__hex2t t-cl-light-red">H2T</span>
          <span
            class="axn-btn axn-btn-max"
            (click)="
              formsData.swapAmount = account?.balances.H2T.shortBigNumber.toString()
            "
            >Send max</span
          >
        </div>
      </div>
      <div class="axn-page-claim-form-wrap m-t-m-20">
        <div class="axn-page-claim-form-wrap-item"></div>
        <div class="axn-page-claim-form-wrap-item">
          <button
            class="axn-btn axn-btn-green"
            [ngClass]="{ progress: swapTokensProgress }"
            [disabled]="!dataSendForm || swapTokensProgress"
            (click)="swapH2T()"
          >
            <span class="lds-ellipsis" *ngIf="swapTokensProgress">
              <span class="lds-ellipsis-container">
                <span></span><span></span><span></span><span></span>
              </span>
            </span>
            <span class="axn-btn-text axn-btn-arrow-down">SEND</span>
          </button>
        </div>
        <div class="axn-page-claim-form-wrap-item"></div>
      </div>
    </div>
  </div>

  <div class="axn-container axn-container-dark axn-form-down">
    <div class="axn-page-claim-form">
      <div class="axn-page-claim-form-wrap">
        <div class="axn-page-claim-form-wrap-item">
          <span class="axn-text t-cl-purple t-t-u">Swap contract</span>
        </div>
        <div class="axn-page-claim-form-wrap-item t-a-c">
          <span class="axn-text-input">
            {{
              swapContractBalance.value || 0 | bigNumberFormat: 0:true:false:3
            }}</span
          >
          <!-- <button
            class="axn-btn axn-btn-green-border"
            (click)="withdrawH2T()"
            [ngClass]="{ progress: withdrawH2TProgress }"
            [disabled]="+swapContractBalance.value === 0 || withdrawH2TProgress"
          >
            <span class="lds-ellipsis" *ngIf="withdrawH2TProgress">
              <span class="lds-ellipsis-container">
                <span></span><span></span><span></span><span></span>
              </span>
            </span>
            <span class="axn-btn-text axn-btn-arrow-up">DRAW BACK</span>
          </button> -->
        </div>
        <div class="axn-page-claim-form-wrap-item">
          <span class="axn-cheap icon icon__hex2t t-cl-light-red">H2T</span>
        </div>
      </div>

      <div class="axn-page-claim-form-wrap">
        <div class="axn-page-claim-form-wrap-item"></div>
        <div class="axn-page-claim-form-wrap-item t-a-c">
          <button
            class="axn-btn axn-btn-green-border"
            (click)="withdrawH2T()"
            [ngClass]="{ progress: withdrawH2TProgress }"
            [disabled]="+swapContractBalance.value === 0 || withdrawH2TProgress"
          >
            <span class="lds-ellipsis" *ngIf="withdrawH2TProgress">
              <span class="lds-ellipsis-container">
                <span></span><span></span><span></span><span></span>
              </span>
            </span>
            <span class="axn-btn-text axn-btn-arrow-up">DRAW BACK</span>
          </button>
        </div>
        <div class="axn-page-claim-form-wrap-item"></div>
      </div>
    </div>
  </div>

  <div class="axn-container axn-container-dark">
    <div class="axn-page-claim-form">
      <div
        class="axn-page-claim-form-wrap axn-page-claim-form-swap axn-border-dashed"
      >
        <div class="axn-page-claim-form-wrap-item">
          <span class="axn-text t-cl-purple t-t-u">TO</span>
        </div>
        <div class="axn-page-claim-form-wrap-item t-a-c">
          <span class="axn-text-input t-cl-green">{{
            toSwap || 0 | bigNumberFormat: tokensDecimals.HEX2X:true:false:3
          }}</span>
        </div>
        <div class="axn-page-claim-form-wrap-item">
          <span class="axn-cheap icon icon__axion t-cl-light-red">AXN</span>
        </div>
      </div>

      <div class="axn-page-claim-form-wrap axn-page-claim-form-swap axn-border">
        <div class="axn-page-claim-form-wrap-item">
          <span class="axn-text t-cl-purple t-t-u">Penalty</span>
        </div>
        <div class="axn-page-claim-form-wrap-item t-a-c">
          <span class="axn-text-input t-cl-light-red">{{
            clacPenalty || 0
              | bigNumberFormat: tokensDecimals.HEX2X:true:false:3
          }}</span>
        </div>
        <div class="axn-page-claim-form-wrap-item">
          <span class="axn-cheap icon icon__axion t-cl-light-red">AXN</span>
        </div>
      </div>

      <div class="axn-page-claim-form-wrap">
        <div class="axn-page-claim-form-wrap-item"></div>
        <div class="axn-page-claim-form-wrap-item">
          <button
            class="axn-btn axn-btn-green m-t-15"
            (click)="burnH2T()"
            [ngClass]="{ progress: burnTokensProgress }"
            [disabled]="
              swapContractBalance.fullValue === 0 || burnTokensProgress
            "
          >
            <span class="lds-ellipsis" *ngIf="burnTokensProgress">
              <span class="lds-ellipsis-container">
                <span></span><span></span><span></span><span></span>
              </span>
            </span>
            <span class="axn-btn-text">SWAP</span>
          </button>
        </div>
        <div class="axn-page-claim-form-wrap-item"></div>
      </div>
    </div>
  </div>

  <div
    class="axn-container axn-container-border m-t-15"
    container-title="How it works"
  >
    <div class="axn-page-claim-how axn-page-claim-how-line">
      <div class="axn-page-claim-how-item">
        <span class="axn-text">
          Exchange HEX2X tokens to Axion at a 1:1 rate. To receive Axion tokens,
          send tokens to the Burn contract and burn them. The exchange will be
          available for 350 days, however, there is a Late Claim Penalty for
          late exchange. The amount of the penalty is calculated by the formula:
          <br />
          <span class="t-cl-light-red">Penalty</span> =
          <span class="t-cl-green">HEX2X amount</span> * (day since free claim
          starts / 350) <br />All penalized tokens will be sent to the next day
          auction.
        </span>
      </div>
    </div>
  </div>
</section>
