
@media only screen and (max-width: 991px) {
    .standard-table {
        overflow: scroll;
        width: 100vw;
        display: block;
    }
    .standard-table thead th.as-sort {
        text-align: center;
    }
    .standard-table tbody td {
        min-width: 100px;
        text-align: center;
    }
    .content-block_title.text-left {
        text-align: center !important;
    }
    .standard-table tbody td:first-child, .standard-table tbody td:last-child {
        border-radius: 0;
    }
    body {
      min-width: 100%;
      padding-bottom: 50px;
    }
    .content-container {
      width: 100%;
    }
    .content-block {
      background: none;
      padding: 0;
    }
    .content-block + .content-block {
      margin-top: 40px;
    }
    .content-block_title {
      margin-bottom: 15px;
    }
    .blocks-list_form-group .list {
      flex-direction: column;
    }
    .blocks-list_form-group {
      background: radial-gradient(
        65.71% 78.25% at 1.49% -1.74%,
        rgba(255, 255, 255, 0.22) 0%,
        rgba(255, 255, 255, 0) 100%
      );
      box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.25);
      background-color: #6c44d6;
      padding: 20px 10px 25px;
    }
    .left-days-info:after, .left-days-info:before {
      width: 50px;
    }
    .blocks-list {
      flex-direction: column;
    }
    .blocks-list_item:not(.no-padding) {
      padding: 0;
    }
    .blocks-list_item--mobile-border-top {
      border-left: none !important;
      border-top: 1px dashed rgba(255, 255, 255, 0.5);
      margin-top: 20px;
      padding-top: 20px !important;
    }
    .form-group_input input {
  
    }
    .blocks-list_element {
      width: 100% !important;
      box-sizing: border-box;
      border-radius: 0;
      padding-bottom: 30px;
    }
    .blocks-list_group_btn:not(.without-margin) {
      margin: 20px 38px 0;
    }
    .blocks-list > .blocks-list_element + .blocks-list_element {
      margin-left: 0;
      margin-top: 6px;
      padding-top: 30px;
    }
    .blocks-list
      > .blocks-list_element
      + .blocks-list_element:not(.without-arrow_separator):before {
      left: 50%;
      top: -24px;
      transform: translateX(-50%) rotate(90deg);
    }
    .results-table {
      margin-top: 30px;
    }
    .results-table_cells-group {
      flex-direction: column;
    }
    .results-table_cell {
      width: 100%;
    }
    .results-table_cell__label {
      padding-left: 0;
      font-size: 15px;
      line-height: 17px;
      margin-bottom: 10px;
    }
    .results-table_cells-group + .results-table_cells-group {
      border: none;
      padding-left: 50px;
    }
    .results-table_cell__value {
      text-align: left;
      padding-right: 0;
    }
    .blocks-list_item_title {
      padding-bottom: 10px;
    }
    .left-days-info {
      border-radius: 0;
      margin-bottom: 35px;
    }
    .btn {
      &__normal {
        width: 100%;
      }
    }
    .blocks-list_new-item, .form-group {
      box-sizing: border-box;
      width: 100% !important;
      border-radius: 0;
    }
    .deposit-form {
      background-color: unset !important;
      padding: 0 !important;
    }
    .form-groups-list {
      flex-direction: column;
    }
    .form-groups-list .form-group + .form-group {
      margin: 0;
      margin-top: 5px;
    }
    .blocks-list_element + .blocks-list_element {
      margin-top: 5px;
    }
    .as-button {
      border: 1px solid;
    }
    .staking-info-table {
      flex-wrap: wrap;
    }
    .staking-info-table_cell {
      width: 33.333% !important;
      box-sizing: border-box;
      &:last-child {
        width: 100% !important;
        padding: 0 35px !important;
        margin-top: 35px;
      }
    }
    .blocks-list_new-item + .blocks-list_new-item {
      margin: 0;
      margin-top: 15px;
    }
    .blocks-list_item_description {
      max-width: 225px;
      margin: 0 auto;
    }
    .blocks-list_item_values_item + .blocks-list_item_values_item {
      padding-left: 20px;
    }
    .header {
      padding: 12px 0;
      position: sticky;
      top: 0;
      z-index: 10;
      background: #4B29A1;
      margin: 0;
      &-logo {
        width: 137px;
      }
      &-menu {
        display: none;
      }
      &-content {
        padding: 0 15px;
      }
      &-navbar {
        width: 100vw;
        position: absolute;
        background: #4B29A1;
        &.active {
          opacity: 1;
          height: calc(100vh - 42px);
          transition: .3s opacity;
          z-index: 10;
          padding-top: 80px;
        }
        &-btn {
          display: block;
        }
        &-item {
          display: flex;
          justify-content: center;
          & + & {
            margin-top: 60px;
          }
          a {
            font-size: 28px;
            line-height: 107.2%;
            color: #FFFFFF;
            text-decoration: none;
          }
          .metamask-button {
            margin: 0;
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
          }
        }
      }
    }
  }
  