.axn {
  &-form {
    display: grid;
    grid-gap: 10px;
    cursor: default;
    margin: 25px 0;

    @include b(900) {
      grid-gap: 15px;
    }

    &-border {
      &-dashed {
        &-right {
          border-right: 1px dashed rgba(113, 114, 116, 0.5);
        }
      }
    }

    &-bottom {
      margin-top: 30px;

      @include b(900) {
        margin-top: 10px;
      }
    }

    &-base {
      &-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        @include b(900) {
          grid-template-columns: 1fr;
        }
      }

      &-3 {
        grid-template-columns: repeat(3, minmax(250px, 350px));

        @include b(900) {
          grid-template-columns: 1fr;
        }
      }
    }

    &-3 {
      grid-template-columns: minmax(250px, 350px) minmax(250px, 270px) minmax(
          250px,
          420px
        );

      @include b(900) {
        grid-template-columns: 1fr;
      }
    }

    &-accent {
      background-color: #e7ecf2 !important;
    }

    &-transparent {
      background: none !important;
      box-shadow: none !important;
    }

    input {
      font-size: 18px;
      font-weight: 300;
      color: #717274;
      padding: 5px 0;
    }

    &-arrow {
      position: relative;

      &:after {
        content: "";
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 5em;
        background-color: #4e598f;
        background-image: url("assets/images/base/arrow-white.svg");
        background-repeat: no-repeat;
        background-position: center;
        right: -25px;
        top: 50px;

        @include b(900) {
          right: 0;
          bottom: -45px;
          left: 0;
          margin: 0 auto;
          top: auto;
          transform: rotate(90deg);
        }
      }
    }

    &-block {
      background-color: #e7eaef;
      box-shadow: -20px -20px 30px rgba(255, 255, 255, 0.5),
        20px 20px 40px rgba(174, 174, 192, 0.25);
      border-radius: 12px;
      padding: 20px 5px;

      &-button {
        * {
          margin: 0 auto;
        }
      }

      &-sendmax {
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include b(900) {
          margin-bottom: 10px;
        }

        &-text {
          display: flex;
          flex-direction: column;
          font-size: 14px;
          color: rgba(113, 114, 116, 0.5);
          margin-top: 5px;

          @include b(900) {
            margin-top: 10px;
          }
        }

        &-value {
          font-size: 10px;
        }
      }

      &-one {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 15px;
        color: #717274;
        text-transform: uppercase;
        text-align: center;
        padding: 10px 0 20px 0;
        font-weight: 300;

        * {
          text-align: center;
          justify-content: center;
          // margin: 0 auto;
        }

        .axn-cheap {
          margin: 0 auto;
        }

        &-title {
          color: #717274;
          font-size: 14px;
          // margin-bottom: 10px;
        }

        &-value {
          font-size: 30px;
          letter-spacing: -0.05em;

          &-normal {
            font-size: 18px;
          }

          &-mid {
            font-size: 13px;
            height: 30px;
            display: flex;
            align-items: center;
          }

          &-small {
            font-size: 10px;
            height: 30px;
            display: flex;
            align-items: center;
          }

          b {
            font-weight: normal;
          }
        }
      }
    }
  }

  &-form2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;

    @include b(750) {
      margin-top: 15px;
      margin-bottom: 15px;
    }

    .axn-container {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }

    &-down {
      display: flex;
      align-items: center;

      @include after-img(block, 42px, 42px, a) {
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("assets/images/icons/from-down.svg");
        bottom: -28px;
        z-index: 10;
      }
    }

    &-block {
      position: relative;
      padding: 30px 25px;

      &-one {
        width: 100%;

        @include b(750) {
          display: grid;
          grid-template-columns: 1fr;
          grid-gap: 20px;
        }

        &-balance {
          width: 100%;
          display: block;
          text-align: center;
          font-size: 14px !important;
          text-transform: uppercase;
          opacity: 0.5;
          line-height: 1;
        }

        &-wrap {
          display: grid;
          grid-template-columns: 130px 1fr 130px;
          align-items: center;

          @include b(750) {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 15px;
          }
        }

        &-item {
          .m-t-15 {
            @include b(750) {
              margin-top: 0 !important;
            }
          }

          @include b(750) {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
          }

          input {
            padding: 0;
            width: 100%;
            text-align: center;
          }

          &:nth-child(2) {
            padding: 0 15px;

            @include b(750) {
              padding: 0px;
            }
          }

          &:nth-child(3) {
            display: flex;
            align-items: flex-end;
            flex-direction: column;

            * {
              margin-top: 15px;

              &:nth-child(1) {
                margin-top: 0 !important;
              }
            }

            @include b(750) {
              align-items: center;
            }
          }
        }
      }

      &-two {
        width: 100%;
        display: flex;
        flex-direction: column;
        grid-gap: 15px;

        @include b(750) {
          display: grid;
          grid-template-columns: 1fr;
          grid-gap: 15px;
        }

        &-price {
          display: flex;
          justify-content: center;
          align-items: center;

          span {
            font-size: 20px !important;

            &:nth-child(2) {
              margin: 0 10px;
            }
          }

          &-uni {
            display: flex;
            justify-content: center;
            align-items: center;

            span {
              font-size: 14px !important;

              &:nth-child(2) {
                margin: 0 10px;
              }
            }
          }

          &-wrap {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 10px;
          }
        }

        &-value {
          font-weight: 300 !important;
          font-size: 25px !important;
          line-height: 1;
          text-transform: uppercase;
        }

        &-balance {
          width: 100%;
          display: block;
          text-align: center;
          font-size: 14px !important;
          text-transform: uppercase;
          line-height: 1;
          color: #8670fa !important;
        }

        &-wrap {
          display: grid;
          grid-template-columns: 120px 1fr 120px;
          align-items: center;

          @include b(750) {
            grid-template-columns: 1fr;
          }
        }

        &-columns {
          display: grid;
          grid-template-columns: 1fr 1fr;
          align-items: center;

          @include b(750) {
            grid-template-columns: 1fr;
            grid-gap: 25px;
          }

          &-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            grid-gap: 10px;

            @include b(750) {
              display: grid;
              grid-template-columns: 1fr;
              text-align: center;
              justify-content: center;
            }

            &:nth-child(1) {
              border-right: 2px solid rgba(255, 255, 255, 0.2);

              @include b(750) {
                border-bottom: 2px solid rgba(255, 255, 255, 0.2);
                border-right: none;
                padding-bottom: 25px;
              }
            }
          }
        }

        &-item {
          input {
            padding: 0;
            width: 100%;
            text-align: center;
          }

          &:nth-child(2) {
            padding: 0 15px;
          }

          &:nth-child(3) {
            display: flex;
            align-items: flex-end;
            flex-direction: column;

            * {
              margin-top: 15px;

              &:nth-child(1) {
                margin-top: 0 !important;
              }
            }
          }
        }
      }
    }
  }
}
