.icon {
  &:before {
    content: "";
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: initial;
  }

  &-flex {
    cursor: default;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    padding: 5px 15px;
    font-size: 16px;
    width: max-content;
    margin: 10px auto;

    &:before {
      margin-right: 10px;
    }
  }

  &__axion-small {
    @include before-img(block, 18px, 16px, r) {
      background-size: cover;
      background-image: url("assets/images/icons/axion-icon.svg");
    }
  }

  &__axion-gray {
    padding-left: 6px;

    @include before-img(block, 22px, 24px, r) {
      background-image: url("assets/images/icons/axion-gray-icon.svg");
    }
  }

  &__axion {
    @include before-img(block, 28px, 24px, r) {
      background-image: url("assets/images/icons/axion-icon.svg");
    }
  }

  &__eth-purple {
    @include before-img(block, 12px, 19px, r) {
      background-image: url("assets/images/icons/eth-purple-icon.svg");
    }
  }

  &__eth-gray {
    @include before-img(block, 12px, 19px, r) {
      background-image: url("assets/images/icons/eth-gray-icon.svg");
    }
  }
}

.cl-aqua {
  color: #37c8b4 !important;
}

.cl-white {
  color: white !important;
}

.cl-purple {
  color: #8670fa !important;
}

.cl-red-light {
  color: #cf7575;
}

.cl-gray {
  color: #ffffff !important;
  opacity: 0.5;
}
