.icon {
  &:before {
    content: "";
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: initial;
  }

  &__axion-gray {
    padding-left: 6px;

    @include before-img(block, 22px, 24px, r) {
      background-image: url("assets/images/icons/axion-gray-icon.svg");
    }
  }

  &__axion {
    @include before-img(block, 28px, 24px, r) {
      background-image: url("assets/images/icons/axion-icon.svg");
    }
  }

  &__eth-purple {
    @include before-img(block, 12px, 19px, r) {
      background-image: url("assets/images/icons/eth-purple-icon.svg");
    }
  }

  &__eth-gray {
    @include before-img(block, 12px, 19px, r) {
      background-image: url("assets/images/icons/eth-gray-icon.svg");
    }
  }
}
